.sectionProjectsDescription {
  margin: 0 0 48px 0;
}

.sectionProjectsList {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  gap: 40px;
  justify-content: center;
  margin: 0 0 24px 0;
}

.card {
  max-width: 361px;
  border-radius: 10px;
}

.cardImage {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
  margin: 0 0 24px 0;
}

.cardTitle {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 16px 24px;
}

.cardLink {
  display: block;
  text-decoration: none;
  color: inherit;
}

.cardLink:is(:hover, :focus),
.cardBtnInfo:is(:hover, :focus) {
  color: var(--bs-primary);
}

.cardLinkIcon {
  display: block;
  width: 24px;
  height: 24px;
}

.cardBtnInfo {
  display: block;
  appearance: none;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

.cardContainerBtns {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0 24px 0 24px;
  gap: 24px;
}