.sectionExperienceTitle,
.sectionExperienceCargo,
.sectionExperienceEmpresa {
  text-transform: uppercase;
}

.sectionExperienceDescription,
.sectionExperienceEmpresa {
  margin: 0 0 16px 0;
}

.sectionExperienceDescription {
  line-height: 1.5;
}

.sectionExperiencedate {
  color: var(--choose10);
  white-space: nowrap;
}

.sectionLink {
  display: block;
  text-decoration: none;
  color: var(--bs-gray-700);
}

.sectionLink:is(:hover, :focus){
  color: var(--choose12);
}

.sectionExperienceList {
  margin: 0 0 0 32px;
}

.sectionExperienceList li {
  margin: 0 0 10px 0;
}

@media screen and (min-width: 800px) {
  .sectionExperienceContainer {
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
    align-items: flex-start;
    justify-content: space-between;
  }

  .sectionExperienceDescription {
    margin: 0;
  }
}