.container {
  height: 100%;
  position: relative;
}

.containerImage {
  display: block;
  max-width: 350px;
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 1px solid var(--choose04);
  margin: 0 20px 10px 0;
  float: left;
}

.containerFlow {
  margin: 0 0 16px 0;
}

.containerName {
  color: var(--choose08);
  font-weight: 700;
  line-height: normal;
  font-size: 26px;
  text-transform: uppercase;
  margin: 0;
}

.containerDescription {
  font-size: 0.9rem;
  line-height: 20px;
  font-weight: 400;
  color: var(--choose04);
  margin: 0;
}

.containerList {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 5px 10px;
  margin: 0 0 24px 0;
  clear: left;
}

.containerListItem {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid var(--color11);
  padding: 3px 5px;
  border-radius: 4px;
  color: var(--choose04);
  margin: 0;
}

.containerLinks {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0 0 24px 0;
  gap: 24px;
}

.containerLinkIcon {
  display: block;
  width: 24px;
  height: 24px;
}

.containerLink {
  display: block;
  text-decoration: none;
  color: var(--choose04);
}

.containerLink:is(:hover, :focus),
.containerBtn:is(:hover, :focus) .containerBtnIcon {
  color: var(--bs-primary);
}

.slider {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0px;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
}

.project {
  flex: 0 0 100%;
  transition: opacity 0.1s ease-in-out;
  padding-bottom: 70px;
}
