.button {
  display: block;
  box-sizing: border-box;
  appearance: none;
  font-family: inherit;
  border: none;
  background-color: var(--bs-gray-700);
  color: white;
  font-size: 0.9rem;
  text-decoration: none;
  padding: 0.7rem 0.5rem;
  width: auto;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
}

.button:is(:hover, :focus) {
  background-color: var(--choose12);
}